<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Motos</title>
</head>
<body>
    <%- include('../partials/header') %>

    <h1>Listado de Motos</h1>

    <a href="/motos/create">Añadir una moto</a>
    <br>
    <br>
    
    <div>
        <% motos.forEach(moto => { %>
            <img src="/images/<%= moto.imagen%>" alt="<%= moto.nombre %>">
            <h2><%= moto.nombre %></h2>
            <p><%= moto.descripcion %></p>
            <p>$<%= moto.precio %></p>
            <p>Categoría: <% moto.Categoria ? moto.Categoria.nombre : 'Sin categoría' %></p>

            <a href="/motos/<%=moto.id%>/edit">Editar</a>
            <br>
            <br>
            
            <form action="/motos/<%=moto.id%>?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
            </form>
       <% }) %>
    
    </div>

    <a href="/">Volver a Inicio</a>

    <%- include('../partials/footer') %>
</body>
</html>